@{
    ViewData["Title"] = "Login";
}
<!doctype html>
<html lang="en">
  <head>
  	<title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="~/css/style.css">
    <style>
        .popup {
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
            display: none;
        }
        .popup-content {
            background-color: white;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888888;
            width: 30%;
            font-weight: bolder;
        }
        .popup-content button {
            display: block;
            margin: 0 auto;
        }
        .show {
            display: block;
        }
        h1 {
            color: green;
        }		.box {
			background-color: black;
			height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		p {
			font-size: 17px;
			align-items: center;
		}
		.box a {
			display: inline-block;
			background-color: #fff;
			padding: 15px;
			border-radius: 3px;
		}
		.modal {
			align-items: center;
			display: flex;
			justify-content: center; 
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(254, 126, 126, 0.7);
			transition: all 0.4s;
			visibility: hidden;
			opacity: 0;
		}
		.content {
			position: absolute;
			background: white;
			width: 400px;
			padding: 1em 2em;
			border-radius: 4px;
		} 
		.modal:target {
			visibility: visible;
			opacity: 1;
		}
		.box-close {
			position: absolute;
			top: 0;
			right: 15px;
			color: #fe0606;
			text-decoration: none;
			font-size: 30px;
		}
    </style>

	</head>
	<body class="img js-fullheight" style="background-image: url('@Url.Content("~/images/bg.jpg")');">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Login </h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Have an account?</h3>
		      	<form action="#" class="signin-form">
		      		<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Username" required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" placeholder="Password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="#" style="color: #fff">Forgot Password </a>
								</div>
	            </div>
	          </form>
	          <p class="w-100 text-center">&mdash; Or Sign Up &mdash;</p>
	          <div class="social d-flex text-center">
	          	<a href="#myPopup" id="myButton" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Sign Up</a>
	          </div>
		      </div>
              <div id="myPopup" class="popup">
                    <div class="popup-content">
                        <p>ttttt</p>
                        <a href="#" id="closePopup"
                            class="box-close">
                                ×
                        </a>
                        
                    </div>
                </div>
				</div>
			</div>
		</div>
	</section>

	<script src="~/js/jquery.min.js"></script>
  <script src="~/js/popper.js"></script>
  <script src="~/js/bootstrap.min.js"></script>
  <script src="~/js/main.js"></script>
  <script>
        myButton.addEventListener("click", function () {
            myPopup.classList.add("show");
        });
        closePopup.addEventListener("click", function () {
            myPopup.classList.remove("show");
        });
        window.addEventListener("click", function (event) {
            if (event.target == myPopup) {
                myPopup.classList.remove("show");
            }
        });
    </script>

	</body>
</html>

